* {
  line-height: 1.5;
  font-family: "Roboto", "PingFang TC", "Microsoft JhengHei", "Sans-Serif";
}

button:focus {
  outline: none;
}

.form-control {
  border: 1px solid #000;
}

.form-control:focus {
  border-color: #650300;
  -webkit-box-shadow: 0 0 0 0.05rem #AA0601;
          box-shadow: 0 0 0 0.05rem #AA0601;
}

.form-check-input {
  border: 1px solid #000;
}

.navbar-nav {
  border: 1px solid #fff;
}

.navbar-nav .nav-item {
  border-bottom: 1px solid #fff;
}

@media (min-width: 992px) {
  .navbar-nav {
    border: 0;
  }
  .navbar-nav .nav-item {
    border-bottom: 0;
  }
}

.classic .content {
  font-size: 28px;
  text-transform: uppercase;
  color: #ffffff;
}

.classic .content:nth-child(2) img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.classic .content:nth-child(2) img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

@media (min-width: 768px) {
  .classic .content {
    color: #AA0601;
  }
}

@media (min-width: 992px) {
  .classic .content {
    font-size: 40px;
    color: #AA0601;
  }
}

.classic .content .col-lg-4 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
  .classic .content .col-lg-4 {
    position: static;
    top: 0;
    left: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.ul {
  list-style: none;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

.bg-red {
  background-color: #AA0601;
}

.bg-pink {
  background-color: #AA06010D;
}

.text-red {
  color: #650300;
}

.container-space {
  padding-bottom: 24px;
}

@media (min-width: 768px) {
  .container-space {
    padding-bottom: 40px;
  }
}

@media (min-width: 992px) {
  .container-space {
    padding-bottom: 80px;
  }
}

.title {
  font-size: 24px;
  padding: 32px 0px;
}

@media (min-width: 768px) {
  .title {
    font-size: 32px;
  }
}

@media (min-width: 992px) {
  .title {
    font-size: 48px;
    padding: 64px 0px;
  }
}

.banner {
  height: 394px;
  background-image: url("../img/68.png");
  background-position: center center;
  background-size: cover;
}

@media (min-width: 768px) {
  .banner {
    height: 840px;
  }
}

.banner .benner-subtitle {
  font-size: 16px;
}

@media (min-width: 768px) {
  .banner .benner-subtitle {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .banner .benner-subtitle {
    font-size: 36px;
  }
}

.banner .banner-title {
  font-size: 32px;
}

@media (min-width: 768px) {
  .banner .banner-title {
    font-size: 48px;
  }
}

@media (min-width: 992px) {
  .banner .banner-title {
    font-size: 64px;
  }
}

.banner-sm {
  height: 304px;
}

.box .img-container {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.footer {
  padding: 24px 15px;
}

@media (min-width: 768px) {
  .footer {
    padding: 40px 15px;
  }
}

@media (min-width: 992px) {
  .footer {
    padding: 48px 15px;
  }
}

.footer .fas, .footer .far, .footer .fab {
  font-size: 24px;
  margin-right: 8px;
}

@media (min-width: 768px) {
  .footer .fas, .footer .far, .footer .fab {
    margin-right: 12px;
  }
}

@media (min-width: 992px) {
  .footer .fas, .footer .far, .footer .fab {
    font-size: 36px;
    margin-right: 23px;
  }
}

.footer .copyright {
  font-size: 14px;
}

@media (min-width: 768px) {
  .footer .copyright {
    font-size: 16px;
  }
}

.logo-image img {
  width: 46px;
}

@media (min-width: 992px) {
  .logo-image img {
    width: 80px;
  }
}

.small-text {
  font-size: 14px;
}
/*# sourceMappingURL=style.css.map */